## Levenshtein Distance

In [1]:
s1 = 'Saturday'
s2 = 'Sunday'
m = len(s1)
n = len(s2)
D = [list(range(n+1))]
for i in range(m):
        D.append([i+1] + [0] * n)

In [2]:
for j in range(1, n+1):
    for i in range(1, m+1):
        if s1[i-1] == s2[j-1]: 
            D[i][j] = D[i-1][j-1]
        else:
            deletion = D[i-1][j] + 1
            insertion = D[i][j-1] + 1
            substitution = D[i-1][j-1] + 1
            D[i][j] = min(deletion, 
                          insertion,
                         substitution)
print (f'Levenshtein distance is {D[-1][-1]}')

Levenshtein distance is 3

In [3]:
import pandas as pd

pd.DataFrame(D, columns=list(' '+s2), index=list(' '+s1))

      S  u  n  d  a  y
   0  1  2  3  4  5  6
S  1  0  1  2  3  4  5
a  2  1  1  2  3  3  4
t  3  2  2  2  3  4  4
u  4  3  2  3  3  4  5
r  5  4  3  3  4  4  5
d  6  5  4  4  3  4  5
a  7  6  5  5  4  3  4
y  8  7  6  6  5  4  3